@model List<Heuristics.TechEval.Core.Models.Member>

@{
    ViewBag.Title = "Members";
}

<h1>Member List</h1>

<button type="button" class="btn btn-primary pull-right" style="margin-bottom: 5px;" data-toggle="modal" onclick="addOrUpdate(0); return false;">Add Member</button>
<table class="table table-striped table-bordered table-hover">
	<thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Edit</th>
        </tr>
	</thead>
	<tbody>
	@foreach (var member in Model) {
        <tr>
            <th scope="row">@member.Id</th>
            <td>@member.Name</td>
            <td>@member.Email</td>
            <td>
                <button type="button" class="btn btn-default" style="margin-bottom: 5px;" data-toggle="modal" onclick="addOrUpdate(@member.Id); return false;">Edit Member</button>
            </td>
        </tr>
	}
	</tbody>
</table>

<div class="modal fade" id="MemberModal">
    <div id="myModalContent"></div>
</div>

<script type="text/javascript">
    const addOrUpdate = (id) => {
        const options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: "/Members/Details",
            contentType: "application/json; charset=utf-8",
            data: { "Id": id },
            datatype: "json",
            success: function (data) {
                $('#myModalContent').html(data);
                $('#MemberModal').modal(options);
                $('#MemberModal').modal('show');
                attachFormHandler();
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    }

    const attachFormHandler = () => {
        $("#MemberForm").ajaxForm({
            success: function (formData, jqForm, options) {
                // sure would be nice if we didn't have to reload the whole page...
                document.location.reload();
                /* First attempt at not using a reload page
                 * Second attempt would be something like adding the member to the model?
                const data = JSON.parse(formData);
                $("#MemberList").append(`<tr>
                    <th scope="row">${data.Id}</th>
                    <td>${data.Name}</td>
                    <td>${data.Email}</td>
                    <td>
                        <button type="button" class="btn btn-default" style="margin-bottom: 5px;" data-id="${data.Id}" data-toggle="modal" data-target="#MemberModal">Edit Member</button>
                    </td>
                </tr>`);
                $("#MemberModal").modal('hide');
                */
            },
            error: function (formData, jqForm, options) {
                // should use ValidationMessageFor instead of alert
                alert(options);
            }
        });
    }
</script>